body{
  background-color: black;
}

#bar{
  width: 80%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

#sub_bar{
  width: 501px;
  height: 70px;
  margin: auto;
}

ul.top_bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
}

li a{
  display: inline-block;
  width: 167px;
  font-family: courier;
  font-size: 20px;
  color: #555555;
  padding: 25px;
  text-align: center;
  text-decoration: none;
}

li a:hover{
  background-color: #888888;
}

#left_mark{
  position: relative;
  top: 17px;
  left: 10px;
  font-family: courier;
  color: #000033;
  font-size: 36px;
}




